.field input{
    width: 100px;
    height: 100px;
}

.field input{
   display: none;
    
}

.field label{
    display: block;
    width: 60px;
    height: 20px;
    border:1px solid #848484;
    background-color:#848484;
    position: relative;
}
.field label::after{
    content: "OFF";
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
    color: #848484;
    left: 0px;
    top: 0px;
    transition: left;
    transition-duration: 1s;
    font-size: 10px;
}
.field label::before{
    content: "ON";
    display: flex;
    justify-content: center;
    align-items:center;
    color:#ffffff;
    width: 50%;
    height: 100%;
    transform:translateX(100%);
    top: 0px;
    font-size: 10px;
    transition: transform 1s;
    transition-delay: 0.5s;
}
.field input:checked+label::before{
    content: "OFF";
    transform:translateX(0%);
}
.field input:checked+label::after{
    content: "ON";
    color: #6fde5f;
    left: 50%;
}

.field input:checked+label{
    border:1px solid #6fde5f;
    background-color: #6fde5f;

}